/* BOX-SIZING */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


  
/* GLOBALES */
body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    overflow-x:hidden

}

header {
    background-color: white;
    height: auto;
    padding-bottom: 10vh;
    margin: 0 auto;
}

section, nav {
    width: 80vw;
    margin: 0 auto;
}
section{
    height: 100vh;
}

nav {
    display: flex;
    padding: 0;
    list-style: none;
}

 a {
     text-decoration: none;
 }


 /* MENU HAMBURGUESA */

 .menu {
    color: #191C26;
    cursor: pointer;
    display: flex;
    order: -1;
 }

 .menu > li {
    float:left;

 }

 .menu li a {
    background-color:#000;
    color:rgb(255, 231, 231);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.menu li a:hover {
     background-color:#434343;
    }
    
.menu ul {
    display: none;
    position:absolute;
	min-width:30vw;
}

.menu li:hover > ul {
    display:block;
}

.menu ul li {
    position:relative;
}

.menu i {
    border-color:  rgb(150, 150, 150);
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 2rem;
    color: rgb(135, 133, 133)
}

li{
    list-style: none;

}

.menu-desktop {
    display: none;
}

/* HERO */

.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(img/taxi.jpg);
    background-size: 100vw 100vh;
    width: 100vw;

}


.info-hero {
    background-color: #F7B617;
    width: 80vw;
    height: auto;
} 

#info-mobile {
    display: block;
    padding: 2rem;
}

#info-mobile h1 {
    width: 80%;
    color: white;
    font-size: 3rem;
    margin: 0 0 0.5rem 0;
    line-height: 3rem;
}

#info-mobile div {
    margin-bottom: 4rem;
}

#info-desktop {
    display: none;
}

#info-desktop a:last-of-type, #info-mobile a {
    padding: 0.8rem;
    color: #1C1C1C;
    background-color: white;
    font-weight: 700;
    border-radius: 10px;
}


.hide {
    display: none;
}

@media only screen and (min-width:768px) {
    
    header {
        padding: 0;
    }

    nav {
        position: relative;
    }

    .menu {
        display: none;
}

    .menu-desktop{
        display: block;
        position: absolute;
        right: 0;
        padding: 0.5rem 0;
        margin: 1rem 0;
        
    }
    
    .menu-desktop li {
        display: inline;
    }
    
    .menu-desktop a:hover {
        color: #F7B617;
    }
    
    .menu-desktop a {
        display: inline;
        margin-right: 3rem;
        color: #191C26;
    }
    
    .hero {
        background-position: center bottom;
        background-size: cover;
        height: 100vh;
    }
    
    .info-hero {
        width: 40vw;
        height: auto;
        padding: 2rem 2rem 3rem;
        color: white;
    }
    
    #info-desktop {
        display: block;
    }
    
    #info-desktop div:first-of-type *{
        margin: 0;
        font-size: 2rem;
    }

    #info-desktop div:nth-child(2) {
        margin: 1.5rem 0 1rem 0;
    }

    #info-desktop a:first-of-type {
        display: block;
        margin: 1rem 0;
        color: white;
        font-size: 1rem;
    }

    #info-desktop a:first-of-type:hover{
        text-decoration-line: underline;
    }

    #info-desktop div:nth-child(2) p {
        display: inline;
        font-weight: 700;
        margin-right: 1rem;
        font-size: 1.5rem;
    }

    #info-desktop div:nth-child(2) img {
        width: 18%;
        vertical-align: text-bottom;
    }

    #info-desktop div:last-of-type {
        display: flex;
        background: url(img/line.svg)  repeat-x 100% bottom;
        margin-bottom: 3rem;
        width: 90%;
    }
    
    #info-desktop div:last-of-type p {
        display: flex;
        margin: 0 auto;
        background-color: #F7B617;
        padding: 0.2rem 3rem;
    }

    #info-desktop div:last-of-type * {
       display: inline;
       margin: 0 2rem;
    }

    #info-mobile {
        display: none
    }


}