/* BOX-SIZING */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


  
/* GLOBALES */
body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    overflow-x:hidden;
    color: white;

}

header {
    background-color: white;
    position: sticky;
    top: 0;
    height: auto;
    padding-bottom: 10vh;
    margin: 0 auto;
}

section, nav, footer {
    width: 100vw;
    margin: 0 auto;
    display: flex;
}


nav {
    padding: 0;
    list-style: none;
}

 a {
     text-decoration: none;
 }

 footer {
    height: auto;
    background-color: #191C26;
 }


 /* MENU HAMBURGUESA */

 .menu {
    color: #191C26;
    cursor: pointer;
    display: flex;
    order: -1;
 }

 .menu > li {
    float:left;

 }

 .menu li a {
    background-color:#000;
    color:rgb(255, 231, 231);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.menu li a:hover {
     background-color:#434343;
    }
    
.menu ul {
    display: none;
    position:absolute;
	min-width:30vw;
}

.menu li:hover > ul {
    display:block;
}

.menu ul li {
    position:relative;
}

.menu i {
    border-color:  rgb(150, 150, 150);
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 2rem;
    color: rgb(135, 133, 133);
    margin-right:2rem;
}

li{
    list-style: none;

}

.menu-desktop {
    display: none;
}



/*SECTIONS*/

.hero, .drive {
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    /* background-size: 100vw 100vh; */
    background-size: cover;
    
}

.hero {
    background-image: url(img/taxi.jpg);
    height: 100vh;
}

.information, .rate {
    display: flex;
    padding: 3rem 0;
    width: 100vw;
    background-color: #F7B617;
}

.drive {
    background-image: url(img/conduce.jpg);
    height: 50vh;
}

h3.mobile-2 {
    flex-direction: column;
    align-items: flex-end;
}

/* HERO */


.info-hero {
    background-color: #F7B617;
    width: 80vw;
    height: auto;
} 

#info-mobile {
    display: block;
    padding: 2rem;
}

#info-mobile h1 {
    width: 80%;
    font-size: 3rem;
    margin: 0 0 0.5rem 0;
    line-height: 3rem;
}

#info-mobile div {
    margin-bottom: 4rem;
}

#info-desktop {
    display: none;
}

.white-button {
    padding: 0.8rem;
    color: #1C1C1C;
    background-color: white;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
}

/*INFORMATION*/

.information {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.general-info {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 70vh;
    border-color:  white;
    border-style: solid;
    border-width: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.general-info img {
    width: 80%;
    padding: 1.5rem;
}


.desktop-2 {
    display: none;
}

.mobile-2 {
    display: flex;
    justify-content: center;
}

div.mobile-2 {
    margin-top: 3rem;
}

/*DRIVE*/

.general-drive {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
}

.general-drive h2 {
    font-size: 2rem;
    margin: 0;
}

.general-drive p {
    font-size: 1rem;
    margin-bottom: 3rem;
}

.general-drive a {
    padding:1rem 2rem;
    background-color: #F7B617;
    color: #000;
    font-weight: 700;
    border-radius: 1rem;
}

/* RATE */

.rate {
    height: 80vh;
}

.rate-map {
    display: none;
}

.rate-rute {
    padding: 3rem;
}

.rate-rute label {
    margin: 2rem 0;
    display: block;
}

.rate-rute input {
    margin-left: 1rem;
    height: 3rem;
    width: 60vw;
    color: white;
    background-color: #F7B617;
    border-color:  white;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.8rem;
    padding-left: 1rem;
}

.rate-rute input::-webkit-input-placeholder {
    color: white;
}

.rate-rute a {
   display: flex;
   justify-content: space-around;
}

.general-rate {
    display: flex;
}

.rate-rute a {
    margin: 2rem auto;
    width: 25vw;
}

/*FOOTER*/

.general-footer {
    width: 80vw;
    margin: 0 auto;
}

.footer-list {
    display: flex;
    flex-direction: row;
}

.footer-list li {
    margin-bottom: 0.8rem;
}

.stores figure * {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.head-footer figure {
    margin: 0;
}

.head-footer figure img:first-of-type {
    margin: 3rem 0 1rem 0;
}

.body-footer {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}

.body-footer div {
    margin-right: 8rem;
    min-width: 20%;
}

.head-footer figure * {
    display: block;
}

.social-media, .stores {
    display: flex;
    align-items: flex-end;
}

.social-media * {
    margin-right: 1rem;
}

/* HIDE */
.hide {
    display: none;
}

/*RESPONSIVE*/

@media only screen and (min-width:768px) {

    section, nav {
        width: 80vw;
        margin: 0 auto;
    }
    
    header {
        padding: 0;
    }

    nav {
        position: relative;
    }

    .menu {
        display: none;
}

    .menu-desktop{
        display: block;
        position: absolute;
        right: 0;
        padding: 0.5rem 0;
        margin: 1rem 0;
        
    }
    
    .menu-desktop li {
        display: inline;
    }
    
    .menu-desktop a:hover {
        color: #F7B617;
        cursor: pointer;
    }
    
    .menu-desktop a {
        display: inline;
        margin-right: 3rem;
        color: #191C26;
    }
    
    .hero {
        background-position: center bottom;
        height: 100vh;
    }

    .drive  {
        background-position: center center;
    }

    .drive, .rate, .information {
        height: 80vh;
    }

    .info-hero {
        width: 40vw;
        height: auto;
        padding: 2rem 2rem 3rem;
    }
    
    #info-desktop {
        display: block;
    }
    
    #info-desktop div:first-of-type *{
        margin: 0;
        font-size: 2rem;
    }

    #info-desktop div:nth-child(2) {
        margin: 1.5rem 0 1rem 0;
    }

    #info-desktop a:first-of-type {
        display: block;
        margin: 1rem 0;
        color: white;
        font-size: 1rem;
    }

    #info-desktop a:first-of-type:hover{
        text-decoration-line: underline;
    }

    #info-desktop div:nth-child(2) p {
        display: inline;
        font-weight: 700;
        margin-right: 1rem;
        font-size: 1.5rem;
    }

    #info-desktop div:nth-child(2) img {
        width: 18%;
        vertical-align: text-bottom;
    }

    #info-desktop div:last-of-type {
        display: flex;
        background: url(img/line.svg)  repeat-x 100% bottom;
        margin-bottom: 3rem;
        width: 90%;
    }
    
    #info-desktop div:last-of-type p {
        display: flex;
        margin: 0 auto;
        background-color: #F7B617;
        padding: 0.2rem 3rem;
    }

    #info-desktop div:last-of-type * {
       display: inline;
       margin: 0 2rem;
    }

    #info-mobile {
        display: none
    }


    .general-info {
        flex-direction: row;
        width: 80vw;
        justify-content: flex-start;
        margin: 0;

    }

    .general-info img {
        max-width: 30%;
        margin:0 10vw;
    }

    
    .desktop-2 {
        display: block;
        width: 40vw;
        margin-right: 10vw;

    }

    .mobile-2 {
        display: none;
    }

    .general-drive {
        width: 40%;
        justify-content: flex-end;
    }

    .general-drive p {
        font-size: 1.5rem;
    }

    .rate-rute, .rate-map  {
        display: block;
        width: 40%;
    }
     
    .general-rate {
        display: flex;
        margin: 0 auto;
    }

    .rate-rute, .rate-map {
        display: flex;
        flex-direction: column;
        width: 35vw;
        justify-content: space-around;
    }

    .rate-map {
        border-color: white;
        border-style: solid;
        border-width: 0.1rem;  
    }

    .rate-map iframe {
        margin: 1rem auto;
    }

    .rate-rute input {
        width: 80%;
    }
 
    .rate-rute a {
        width: 10vw;
        margin: 0 auto;
    }
}